{% extends "base_auth.html" %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/tablesorter.css"></link>
{% endblock %}

{% block content %}
<h1><a href="/tournaments">Tournaments</a> > {{ tournament }}</h1>


<span style="font-weight:bold; font-size:24px">
  <a href="/tournaments/{{tournament_id}}/fixtures">{% trans "Fixtures" %}</a>
</span>
<span style="font-weight:bold; font-size:24px"> 
  |
</span>
<span style="font-weight:bold; font-size:24px">
  {% trans "Table" %}
</span>



<div style="text-align:right">{% trans "cached" %}:{{is_cached}}</div>
<div style="clear:both"></div>
<table id="league" style="width:100%" class="tablesorter">
  <thead>
  <tr>
    <th class="header">{% trans "Pos" %} </td>
    <th class="header">{% trans "Name" %}</td>
    <th title="{% trans "Games Played" %}" class="header">P</td>
    <th title="{% trans "Correct Win Guess - " %}" class="header">CW </td>
    <th title="{% trans "Semi-correct Win Guess - " %}" class="header">SW </td>
    <th title="{% trans "Incorrect Wins - " %}" class="header">IW </td>
    <th title="{% trans "Correct Draw Guess - " %}" class="header">CD </td>
    <th title="{% trans "Incorrect Draw Guess - " %}" class="header">ID </td>  {# TODO: add tooltips (e.g. '3 points') #}
    <th class="header">Pts </td>
  </tr>
  </thead>
  <tbody>
{% for uap in users_and_points %}
  <tr>
    <td class="tablecell">{{forloop.counter}}</td>
    <td title="{{uap.user.first_name}} {{uap.user.last_name}}" class="tablecell">
      {% if uap.user.get_profile.share_predictions %}
      <a href="/tournaments/{{tournament_id}}/fixtures/{{uap.user.id}}">{{uap.user}}</a>
      {% else %}
      {{uap.user}}  
      {% endif %}
    </td>
        <td class="tablecell">{{uap.played}}</td>
        <td class="tablecell">{{uap.correct_wins}}</td>
        <td class="tablecell">{{uap.semicorrect_wins}}</td>
        <td class="tablecell">{{uap.incorrect_wins}}</td>
        <td class="tablecell">{{uap.correct_draws}}</td>
        <td class="tablecell">{{uap.incorrect_draws}}</td>
        <td class="tablecell">{{uap.points}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/javascript/lib/jquery.tablesorter.min.js"></script> 
<script>
$(function()
{
    $('table#league').tablesorter();
});
</script>
{% endblock %}
