{% extends "base_auth.html" %}
{% load i18n %}
{% block content %}
<h1>{{title}}</h1>
<table width="100%">
  <tr>
    <td class="header tablecell"></td>
    <td class="header tablecell">{% trans "Name" %}</td>
    <td class="header tablecell">{% trans "Begins" %}</td>
    <td class="header tablecell">{% trans "Ends" %}</td>
  </tr>
{% for t in tournaments %}
  <tr onclick="window.location='/tournaments/{{t.id}}/fixtures/'" class="clickable {% cycle 'odd' 'even'%}">
      <td class="tablecell">{{forloop.counter}}</td>
      <td class="tablecell"><a href="/tournaments/{{t.id}}/fixtures/">{{t.name}}</a></td>
      <td class="tablecell">{{t.begin_date}}</td>
      <td class="tablecell" >{{t.end_date}}</td>
  </tr>
{% endfor %}  
  


{% endblock %}
